.title-musica{
    font-family: 'Creepster', cursive;
    font-family: 'Eater', cursive;
    font-family: 'Reggae One', cursive;
    font-family: 'Shojumaru', cursive;
    font-family: 'Ultra', serif;
    font-family: 'Waiting for the Sunrise', cursive;
    
    
    
}
.container-fluid{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-fluid1{
    background-color:  rgba(0, 0, 0, 0.766);
}
#titulo{
    font-family: 'Reggae One';font-size: 50px;
}
#titulo2{
    font-family: 'Creepster', cursive;
    font-family: 'Eater', cursive;
    font-family: 'Reggae One', cursive;
    font-family: 'Shojumaru', cursive;
    font-family: 'Ultra', serif;
    font-family: 'Waiting for the Sunrise', cursive; 
}
#parrafo{
    padding-left: 10%;
    padding-right: 10%;
}

